<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects Page</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>{{ProjectMessage}}</p>
    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer>
  </body>
</html>
